:root {
    --color-background: white;
    --color-foreground: rgb(30, 30, 30);
    --color-dimmed: rgb(70, 70, 70);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: rgb(25, 25, 25);
        --color-foreground: rgb(220, 220, 220);
        --color-dimmed: rgb(180, 180, 180);
    }
}

* {
    color: var(--color-foreground);
    font-size: 16px;
    font-family: sans-serif;
}

html {
    background-color: var(--color-background);
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;
}

nav {
    padding: 16px 0;
}

h1 {
    font-size: 24px;
    margin: 8px 0;
}

h2 {
    font-size: 18px;
}

p, li {
    text-align: justify;
    hyphens: auto;
    line-height: 1.4;
}

sup {
    line-height: 0;
}

sup a {
    font-size: 14px;
}

.breadcrumb-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumb-navigation ul li {
    display: inline;
}

code {
    white-space: pre;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid var(--color-foreground);
}

th {
    font-weight: bold;
    text-align: left;
}

.breadcrumb-navigation li:not(:first-child)::before {
    content: "/";
    padding: 0 8px;
}

.navigation-sidebar-layout {
    display: flex;
}

.navigation-sidebar {
    flex: 0;
    margin-right: 16px;
}

.navigation-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-sidebar-layout-content {
    flex: 1;
}

.blog-timestamp {
    text-align: left;
}

.blog-post-link-box {
    display: flex;
}

.blog-post-link-date {
    margin-right: 16px;
}

.code-box {
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 16px;
}

.result-box {
    border-style: solid;
    border-width: 1px;
    padding: 0 16px;
    margin-bottom: 16px;
}

.code-box, .result-box {
    border-color: var(--color-foreground);
}

.blog-timestamp, .blog-timestamp * {
    color: var(--color-dimmed);
}

.keyword-list {
    display: flex;
    flex-wrap: wrap;
}

.keyword-list li {
    margin-right: 24px;
}
